
@font-face {
    font-family: 'Special';
    src: url("assets/fonts/SpecialElite-Regular.ttf");
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, #CD5B3C);
    z-index: 1;
}

.welcome {
    position: relative;
    top: 30%;
    font-size: 5rem;
    color: #f00;
    font-family: 'Special';
    text-align: center;
}

.newcomer {
    margin-top: 5vh;
    color: #fff;
    font-size: 2rem;
}

.newcomer input[type="text"] {
    margin: 3vh 0;
    font-size: 1.5em;
    text-align: center;
}

.newcomer button {
    min-width: 10vw;
    font-size: 1em;
    margin: 1vh 0;
}

.ready {
    display: none;
    margin-top: 5vh;
    color: #fff;
    font-size: 4rem;
}